// fonts
$font-main: "Roboto", sans-serif;

// colors
$background-primary: white;
$background-secondary: #2940ab;
$background-header-footer: black;
$background-button: rgb(51, 167, 103);
$color-primary: black;
$color-secondary: white;
